<section class="relative w-full h-screen bg-center bg-cover bg-no-repeat flex items-center justify-center"
    style="background-image: linear-gradient(to right, rgba(0,0,0,0.6), transparent), url('assets/hero.jpg');">
    <div class="mx-5">
        <h1 class="text-white font-bold text-5xl">
            Hotel Grecia
        </h1>
        <p class="text-white max-w-2xl py-5">"Descansa, relájate y vive una experiencia inolvidable en Hotel Grecia. Un
            lugar donde el confort, la elegancia y la hospitalidad se unen para ofrecerte una estadía única, ya sea por
            negocios o placer."

        </p>
        <a routerLink="/servicios" class="cursor-pointer bg-blue-400 text-white px-6 py-2 hover:bg-blue-500">
            Ver servicios
        </a>
    </div>

</section>

<section class="xl:max-w-7xl xl:mx-auto">
    <div class="flex flex-col items-center gap-5 mx-5 py-10 md:flex-row md:gap-8 md:mx-10 lg:mx-16">
        <div>
            <h2 class="text-2xl font-bold mb-2 text-blue-400">Tu refugio ideal en la ciudad</h2>
            <p class="mb-4">
                Nuestras habitaciones están diseñadas para ofrecer el máximo confort y tranquilidad.
                Con espacios amplios, camas cómodas, acabados elegantes y una atmósfera cálida, cada detalle ha sido
                pensado para garantizar tu descanso. Disfruta de aire acondicionado, Wi-Fi de alta velocidad, televisión
                por cable y una impecable limpieza que hacen de tu estadía una verdadera experiencia de relajación.


            </p>
            <a routerLink="/servicios" class="cursor-pointer bg-blue-400 text-white px-6 py-2 hover:bg-blue-500">
                Ver más
            </a>
        </div>
        <img src="assets/homeRoom.jpg" alt="Hero" class="w-full md:w-1/2 object-cover" />
    </div>
</section>

<section>
    <div class="py-10 mx-5">
        <h2 class="text-2xl font-bold mb-2 md:text-center text-blue-400">Explora con Nuestros Tours Exclusivos</h2>
        <p class="max-w-4xl mx-auto md:text-center">En Hotel Grecia te ofrecemos experiencias únicas más allá del
            hospedaje. Descubre los encantos de la ciudad con nuestros tours guiados, diseñados para mostrarte lo mejor
            de la cultura, la historia y la naturaleza local. Ya sea caminatas culturales, visitas a sitios históricos o
            escapadas a paisajes impresionantes, nuestros recorridos te conectan con lo auténtico de cada destino.</p>
        <img src="assets/homeTour.jpg" alt="Hero" class="w-full h-96 object-cover my-5" />
    </div>
</section>

<section class="max-w-7xl mx-auto">
    <div class="grid items-center gap-5 mx-5 py-10 md:grid-cols-2 md:grid-rows-auto md:mx-10 md:gap-10 lg:mx-16">

        <img src="assets/homeComfort.jpg" alt="Hero" class="w-full object-cover" />

        <div>
            <h2 class="text-2xl font-bold mb-2 text-blue-400">¿Por qué elegir Hotel Grecia?</h2>
            <p class="mb-4">
                En Hotel Grecia nos esforzamos por brindar una experiencia completa a cada huésped. Cada aspecto está
                pensado para que tu estadía sea
                cómoda, segura y placentera.
            </p>
            <a routerLink="/nosotros" class="cursor-pointer bg-blue-400 text-white px-6 py-2 hover:bg-blue-500">
                Conócenos
            </a>
        </div>

        <!-- Segundo div (ocupa 2 columnas en md) -->
        <div class="md:col-span-2">
            <h2 class="text-xl font-bold mb-2 text-blue-400 md:text-center">
                Una experiencia que supera tus expectativas
            </h2>
            <p class="md:text-center mb-8">
                En Hotel Grecia combinamos elegancia, funcionalidad y calidez para ofrecerte una experiencia de
                hospedaje superior. Nos comprometemos a que cada detalle desde la comodidad de nuestras habitaciones
                hasta la atención personalizada
            </p>

            <ul class="list-disc pl-5 space-y-2 text-gray-700">
                <li>
                    <strong>Habitaciones cómodas y modernas:</strong> Diseñadas para tu descanso, con todos los
                    servicios necesarios.
                </li>
                <li>
                    <strong>Ubicación privilegiada:</strong> Cerca del centro, atractivos turísticos y principales vías
                    de acceso.
                </li>
                <li>
                    <strong>Atención personalizada:</strong> Nuestro equipo está siempre dispuesto a ayudarte con
                    calidez y profesionalismo.
                </li>
                <li>
                    <strong>Wi-Fi de alta velocidad gratuito:</strong> Conexión rápida y estable en todo el hotel.
                </li>

            </ul>
        </div>
    </div>

</section>