<section class="relative w-full h-[600px] bg-center bg-cover bg-no-repeat flex items-center justify-center"
    style="background-image: linear-gradient(rgba(0,0,0,1), transparent), url('assets/hero2.jpg');">
    <div class="mx-5">
        <h1 class="text-white font-bold text-5xl">
            NOSOTROS
        </h1>
        <p class="text-white max-w-2xl py-5">En Hotel Grecia nos apasiona brindar experiencias únicas.
            Ubicados en el corazón de la ciudad, combinamos comodidad, elegancia y hospitalidad para ofrecer a nuestros
            huéspedes una estadía inolvidable. Nuestro equipo está comprometido con un servicio personalizado que hace
            sentir a cada visitante como en casa desde el primer momento.</p>
    </div>

</section>

<section class="xl:max-w-7xl xl:mx-auto">
    <div class="flex flex-col items-center gap-5 mx-5 py-10 md:flex-row md:gap-8 md:mx-10 lg:mx-16">
        <div>
            <h2 class="text-2xl font-bold mb-2 text-blue-400">MISIÓN</h2>
            <p class="mb-4">
                En Hotel Grecia trabajamos para ofrecer una experiencia de hospedaje cálida, cómoda y personalizada.
                Nuestra misión es brindar a cada huésped un servicio excepcional, donde se sienta valorado, seguro y
                bien atendido desde el primer momento.

                Nos esforzamos día a día por superar las expectativas, manteniendo altos estándares de calidad, limpieza
                y atención al detalle. Creemos que la hospitalidad es un arte que se refleja en cada gesto, y nos
                enorgullece formar parte de los recuerdos positivos de quienes nos eligen.
            </p>
        </div>
        <img src="assets/usMission.jpeg" alt="Hero" class="w-full md:w-1/2 object-cover" />
    </div>
</section>
<section class="xl:max-w-7xl xl:mx-auto">
    <div class="flex flex-col items-center gap-5 mx-5 py-10 md:flex-row md:gap-8 md:mx-10 lg:mx-16">
        <div>
            <h2 class="text-2xl font-bold mb-2 text-blue-400">VISIÓN</h2>
            <p class="mb-4">
                Aspiramos a consolidarnos como un hotel referente en la región, reconocido por su excelencia en el
                servicio, su ambiente acogedor y su compromiso con la satisfacción total del cliente. Queremos ser la
                primera elección para quienes buscan más que un lugar para dormir: un lugar para sentirse bien.

                Nuestra visión es crecer de manera sostenible, innovando constantemente en nuestras instalaciones y
                servicios, sin perder la esencia humana que nos distingue. Buscamos dejar huella en cada visita, siendo
                sinónimo de confianza, calidad y calidez.
            </p>
        </div>

        <img src="assets/usVision.jpg" alt="Hero" class="w-full md:w-1/2 object-cover" />
    </div>
</section>